{% extends 'portfolio/layout.html' %}
{% block main %}
    <article class="seguintes">
        <div class="cadeira_box" style="font-size: 13px;">

            <div class="row">
                <div class="col-25"><h4 class="h4">Câmbio de Moeda</h4></div>
                <div class="col-50"><select id="moeda"> </select></div>
                <div class="col-25"><label id="cambio"></label></div>
            </div>
            <div class="row">
                <div class="col-25"><h4 class="h4">Tempo</h4></div>
                <div class="col-50"><select id="cidade"> </select></div>
                <div class="col-25"><label id="temperatura"></label></div>
            </div>
        </div>
    </article>
{% endblock %}