{% extends 'portfolio/layout.html' %}
{% block main %}
     <article class="seguintes">
        <div class="cadeira_box">
            <form action="" method="POST" class=".form" style="font-size: 13px" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="row">
                    <button type="submit" class="button">Gravar</button>
                    <a href="{% url 'portfolio:blog' %}" class="button">Voltar</a>
                </div>
            </form>
        </div>
     </article>

{% endblock %}