{% extends 'portfolio/layout.html' %}
{% block main %}
    <article class="seguintes">
        <div class="caixa_vazia" style="top: 20%;left: 30%;">
            <div style="overflow:auto;">
                <figure>
                <iframe width="560" height="315" src="https://res.cloudinary.com/dvrjo14ep/video/upload/v1655460805/media/Portfolio_Programação_Web_vcge6x.mp4"
                        title="YouTube video player" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
             </figcaption>
            </figure>

            </div>
        </div>
    </article>
{% endblock %}

